body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: rgb(239, 223, 250);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    text-align: center;
    margin-top: 0; 
}
   

h1 {
    margin-top: -20px;
    margin-bottom: 10px;
    color: #ce1455;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#timer,
#moves,
#target {
    margin-bottom: 0px;
    color: #ce1455;
    font-size: medium;
    font-weight: 500;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#game-container {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 10px;
    justify-content: center;

}

.light {
    width: 50px;
    height: 50px;
    background-color: #f6d8ed;
    border: 1px solid #ff1bb7;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.light.off {
    background-color: #ff1bb7;
}

button {
    margin-top: 5px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff1bb7;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button:hover {
    background-color: #fd003b;

}

.loader {
    display: none;
    border: 5px solid #f0f0f0;
    border-top: 5px solid #fd003b;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

/* @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */
